<nav class="col-md-3">

    <div>
    {{ if $.Site.Params.codeeditor_menu_mostrecentposts | default true }}
    <h3 class="home-link"><a href="{{ index .Site.Params "rootlink" | default .Site.BaseURL }}">{{ ( index $.Site.Data.translations (default $.Site.Params.locale "en-US") ).root }}</a></h3>
    </div>

    <div id="last-posts" class="">
        <h3 data-open="last-posts">Menu</h3>
        <ul>
            <li><a href="{{ .Site.BaseURL }}events">Events</a></li>
            <li><a href="{{ .Site.BaseURL }}projects">Projects</a></li>
            <li><a href="{{ .Site.BaseURL }}search">Search</a></li>
            <li><a href="{{ .Site.BaseURL }}contact">Get in contact</a></li>
            <li><a href="{{ .Site.BaseURL }}mailinglist">Mailing lists</a></li>
            <li><a href="{{ .Site.BaseURL }}mentions">HSBXL mentions</a></li>
            <li><a href="{{ .Site.BaseURL }}membership">Hackerspace membership</a></li>
            <li><a href="https://pam.hsbxl.be/">Who is in the space?</a></li>
            <li><a href="https://wiki.hsbxl.be">Archived wiki</a></li>
            <li><a href="https://ptt.hackerspaces.be/#/room/#hsbxl:hackerspaces.be">Chat (Matrix)</a></li>
            <li><a href="irc://irc.freenode.net/hsbxl">Chat (IRC)</a></li>
            <li><a href="{{ .Site.BaseURL }}changelog">Changelog</a></li>
        </ul>
    </div>

    <div id="last-posts" class="open events">
        <h3 data-open="last-posts">Agenda</h3>
        <ul>
            {{- range $.Site.RegularPages.ByParam "startdate" -}}
                {{- if eq .Type "events" -}}
                    {{- if isset .Params "startdate" -}}
                        {{ if ge .Params.startdate (now.Format "2006-01-02") }}
                            <li class="row">
                                <a href="{{ .Permalink }}" style="box-sizing: border-box;">
                                    <div class="date col-md-5" style="text-align: right; margin:0; padding:0 10px 0 0; font-weight: 800">{{ .Params.startdate | dateFormat "Mon 02 Jan" -}}
                                        {{ if and (isset .Params "enddate") (ne .Params.startdate .Params.enddate) }}<br />till {{ .Params.enddate | dateFormat "02 Jan" -}}{{ end }}
                                        </div>
                                    <div class="col-md-7" style="padding: 0 5px; color: #839496; background-color: #000">{{ .Params.linktitle }}</div>
                                </a>
                            </li>
                        {{ else if isset .Params "enddate" }}
                            {{ if ge .Params.enddate (now.Format "2006-01-02") }}
                               <li class="row">
                                    <a href="{{ .Permalink }}" style="box-sizing: border-box;">
                                        <div class="date col-md-5" style="text-align: right; margin:0; padding:0 10px 0 0; font-weight: 800">{{ .Params.startdate | dateFormat "Mon 02 Jan" -}}
                                            {{ if and (isset .Params "enddate") (ne .Params.startdate .Params.enddate) }}<br />till {{ .Params.enddate | dateFormat "02 Jan" -}}{{ end }}
                                            </div>
                                        <div class="col-md-7" style="padding: 0 5px; color: #839496; background-color: #000">{{ .Params.linktitle }}</div>
                                    </a>
                                </li>
                            {{ end }}
                        {{ end }}



                    {{- end -}}
                {{- end -}}
            {{- end -}}
        </ul>
    </div>

    <div id="last-posts" class="open techtuesdays">
        <h3 data-open="last-posts">TechTuesdays</h3>
        <ul>
            <li>Every Tuesday is TechTuesday, an open evening for both members and visitors.</li>
            {{- range $.Site.RegularPages.ByParam "startdate" -}}
                {{- if eq .Type "events/techtuesday" -}}
                    {{- if ge .Params.startdate (now.Format "2006-01-02") -}}
                        <li><a href="{{ .Permalink }}">{{ .Params.startdate | dateFormat "Mon 2 Jan"}}: {{ .Params.linktitle }}</a></li>
                    {{- end -}}
                {{- end -}}
            {{- end -}}
        </ul>
    </div>

    {{ end }}

    {{ with .Site.Taxonomies.tags }}
    <div id="tags" class="open">
        <h3 data-open="tags">{{ ( index $.Site.Data.translations (default $.Site.Params.locale "en-US") ).tags }}</h3>
        <ul class="tags">
            {{ range $name, $taxonomy := . }}
            <li><a href="/tags/{{ $name | urlize }}">{{ $name }}</a></li>
            {{ end }}
        </ul>
    </div>
    {{ end }}

    {{ with .Site.Taxonomies.categories }}
    <div id="categories" class="open">
        <h3 data-open="categories">{{ ( index $.Site.Data.translations (default $.Site.Params.locale "en-US") ).categories }}</h3>
        <ul class="categories">
            {{ range $name, $taxonomy := . }}
            <li><a href="/categories/{{ $name | urlize }}">{{ $name }}</a></li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
</nav>
